<h1>Listing pin2s</h1>

<table class="table table-striped">
  <thead>  
    <tr>
      <th>Description</th>
      <th>String</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>   
      <%= render @pin2s %>
     
  </tbody>
</table>

<br />

<%= link_to 'New Pin2', new_pin2_path %>
