<div class="row">
    <div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @pin2.description %>
			</p>

				<%= link_to 'Edit', edit_pin2_path(@pin2) %> |
				<%= link_to 'Back', pin2s_path %>

			
		</div>
	</div>
</div>
<p>
  <b>String:</b>
  <%= @pin2.string %>
</p>
